*{
  padding: 0;
  margin: 0;
}

.canvas{
  width: 80%;
  
  margin:100px auto 100px;
  
}
span{
  height: 100px;
  width: 100px;
  display: block;
  display: inline-block;
}
.button{
  height: 75px;
  width: 75px;
  border: 2px solid black;
  margin-bottom: 5px;
  text-align: center;
}
#grey{
  background-color: grey;
}

#pink{
  background-color: pink;
}

#red{
  background-color: red;
}
#purple{
  background-color: purple;
}
#yellow{
  background-color: yellow;
}