*{
  margin:0;
  padding: 0;
}
body{
  background-color:lightcoral;
}
.container{
  margin: 150px;
  line-height: 40px;
  border: 2px solid black;
  width: 300px;
  height: 500px;
  padding: 25px;
  text-align: center;
  background-color: antiquewhite;
  border-radius: 10px;

}
button{
  padding: 5px;
  border-radius: 5px;
  width: 100px;
}
#weight-guide{
  line-height: 50px;
}